
body{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
background: linear-gradient(to top,rgb(208, 0, 255),rgb(132, 0, 255),rgb(76, 0, 255));
}

picture{
    align-content: center;
}
.size{
max-width: 70%;
margin: 0 auto;
padding: 15px;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.mynd_rod{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: 1fr;
}

@media screen and (min-width:512px) {

    .mynd_rod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1024px) {

    .mynd_rod{
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.wrapper{
    background-color: aqua;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    border-width: 4px;
    border-radius: 5px;
}

.wrapper:after{
    content: "";
    display: block;
    clear: both;
}
.float{
    float: left;
}