table{
    width: 80%;
    border-collapse: collapse;
}

thead{
    background-color: violet;
    text-align: left;
}

tbody tr:nth-child(even){
    background-color: royalblue;
}

tbody tr:nth-child(odd){
    background-color: yellow;
}

td, th{
    border: 1px solid black;
    padding:5px
}

@media screen and (max-width:600px) {

    thead{
        display: none;
    }
    
    td{
        display: block;
        text-align: right;
    }

    tr{
        display: block;
        margin-bottom: 5px;
    }

    td::before{
        content: attr(gögn);
        float: left;
    }
}

form{
    margin-top: 30px;
    width: 25%;
}

fieldset{
    background-color:rgb(144, 26, 255);
    border: rgb(240, 110, 255) solid;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(to top,rgb(221, 0, 255),rgb(89, 0, 255),rgb(0, 85, 255));
    font-family: 'Oswald', sans-serif;
    width: 60%;
    margin: 0 auto;
}

div{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: cyan;
    border: 2px solid rgb(0, 0, 0)
}


.valmynd{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    justify-items: center;
}

.upp{
    position: fixed;
    bottom: 15px;
    right: 15px;

    width: 50px;
    height: 50px;
    background: rgb(0, 0, 0);
    border-radius: 50%;

    color: rgb(199, 31, 199);
    font-size: 2em;
}

.border{
    border: 2px;
    border-color: violet;
}

.upp:hover{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 0, 255);
}

table{
    margin-bottom: 20px;
}

form{
    width: fit-content;
    length: 750px;
}